@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.calc-text {
  width: 50%;
}

.calc-container {
  width: 350px;
}

.result {
  height: 40px;
  background-color: lightgrey;
}

.display {
  font-weight: bold;
}

.btn-custom {
  color: black;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 0;
  border: 1px solid gainsboro;
  width: 25%;
}

.btn-custom2 {
  color: black;
  font-weight: bold;
  background-color: orange;
  border-radius: 0;
  border: 1px solid gainsboro;
  width: 25%;
}

.btn-custom3 {
  color: black;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 0;
  border: 1px solid gainsboro;
  width: 50%;
}

.text-justify {
  text-align: justify;
}

.quote-margin {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}
